<a href="https://colab.research.google.com/github/pyaidatascience/ML-ADYPU/blob/main/Data_Cleaning_and_pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Let's create some simple, real-life examples in Python to illustrate the concepts of data cleaning and pre-processing from Unit One.

## Handling Missing Data

Let's take an example of a dataset containing information about people's ages and their favorite fruits:

In [ ]:
import pandas as pd

In [ ]:


# Sample dataset
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
        'Age': [25, None, 30, 22, None],
        'Favorite Fruit': ['Apple', 'Banana', 'None', 'Apple', 'Banana']}
wifi
df = pd.DataFrame(data)

# Handling missing data by filling with mean value
df['Age'].fillna(df['Age'].mean(), inplace=True)
print(df)

Removing Duplicates

Now let's consider a dataset where we might have duplicate entries:

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Alice', 'David', 'Edward'],
        'Age': [25, 22, 25, 22, 24],
        'Favorite Fruit': ['Apple', 'Banana', 'Apple', 'Apple', 'Banana']}

df = pd.DataFrame(data)

# Removing duplicate entries
df.drop_duplicates(inplace=True)
print(df)

Transforming Data Using a Function or Mapping

Let's convert ages from years to months:

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
        'Age': [25, 22, 30, 22, 24]}

df = pd.DataFrame(data)

# Transforming age from years to months
df['Age in Months'] = df['Age'].apply(lambda x: x * 12)
print(df)

Replacing Values

Replace 'None' with a more Replace 'None' with a more meaningful value:meaningful value:

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
        'Favorite Fruit': ['Apple', 'Banana', 'None', 'Apple', 'Banana']}

df = pd.DataFrame(data)

# Replacing 'None' with 'Unknown'
df['Favorite Fruit'].replace('None', 'Unknown', inplace=True)
print(df)

Detecting and Filtering Outliers

Let's detect ages that are beyond a typical range and filter them out:

In [ ]:
import numpy as np

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
        'Age': [25, 22, 30, 22, 300]}

df = pd.DataFrame(data)

# Detecting outliers using Z-score
df['Z-score'] = (df['Age'] - df['Age'].mean()) / df['Age'].std()
outliers = df[np.abs(df['Z-score']) > 2]
print("Outliers:\n", outliers)

# Filtering outliers
df_no_outliers = df[np.abs(df['Z-score']) <= 2]
print("Filtered Data:\n", df_no_outliers)

String Manipulation

Perform operations on strings like splitting, replacing, and extracting text:

In [ ]:
data = {'Name': ['Alice Smith', 'Bob Brown', 'Charlie Lee', 'David Clark', 'Edward King']}

df = pd.DataFrame(data)

# Splitting Name into First Name and Last Name
df[['First Name', 'Last Name']] = df['Name'].str.split(expand=True)
print(df)