In [ ]:
import pandas as pd

In [ ]:
pd.read_csv?

In [ ]:
ipl_auction_df = pd.read_csv('E:\PYTHON START\Data Science\Datasets\IPL IMB3812013.csv')

In [ ]:
type(ipl_auction_df)

### Displying few records of data type

In [ ]:
pd.set_option

In [ ]:
pd.set_option('display.max_columns',7)

In [ ]:
ipl_auction_df.head(5)

### To Display all the columns name of the data frame

In [ ]:
list(ipl_auction_df.columns)

In [ ]:
pd.set_option('display.max_columns',10)

In [ ]:
ipl_auction_df.head(15)

### Transpose data frame display as origingal DataFrame has larg no of columns

In [ ]:
ipl_auction_df.head(5).transpose()

In [ ]:
ipl_auction_df.shape

In [ ]:
ipl_auction_df.info()

In [ ]:
ipl_auction_df[0:5]

In [ ]:
ipl_auction_df[-5:]

Specific columns of a DataFrame can also be selected or sliced by columns names.

Example: Seletc only the PLAYER NAME of first five records

In [ ]:
ipl_auction_df['PLAYER NAME'][0:5]

### Select Two columns

Player name and country name of the first five records, pass the list of column names to the DataFrame

In [ ]:
ipl_auction_df[['PLAYER NAME','COUNTRY']][0:5]

In [ ]:
ipl_auction_df.iloc[4:9,1:4]

In [ ]:
ipl_auction_df.iloc[14:20,5:12]

In [ ]:
ipl_auction_df.COUNTRY.value_counts()

In [ ]:
ipl_auction_df.COUNTRY.value_counts(normalize=True)*100

In [ ]:
# Cross Tabulation
pd.crosstab(ipl_auction_df['AGE'],ipl_auction_df['PLAYING ROLE'])

## Sorting DataFrame By Column Values

In [ ]:
ipl_auction_df[['PLAYER NAME','SOLD PRICE']].sort_values('SOLD PRICE')[0:5]

To sort the DtaFrame records in descending order, pass False to ascending parameter

In [ ]:
ipl_auction_df[['PLAYER NAME','SOLD PRICE']].sort_values('SOLD PRICE',ascending = False)[0:5]

## Creating New Columns

In [ ]:
ipl_auction_df['premium']= ipl_auction_df['SOLD PRICE'] - ipl_auction_df['BASE PRICE']

In [ ]:
#To visualise changed of updated data
ipl_auction_df[['PLAYER NAME','BASE PRICE', 'SOLD PRICE','premium']][0:5]

In [ ]:
ipl_auction_df[['PLAYER NAME','BASE PRICE','SOLD PRICE','premium']].sort_values('premium',ascending = False)[0:5]

## Groupting and Aggregating

In [ ]:
ipl_auction_df.groupby('AGE')['SOLD PRICE'].mean()

In [ ]:
soldprice_by_age = ipl_auction_df.groupby('AGE')['SOLD PRICE'].mean().reset_index()
print(soldprice_by_age)